<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More Info</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <style>
    #title{
        background-color: rgb(8, 99, 99);
        text-align: center;
        border-radius: 15px;
        font-weight: bold;
        font-size: 60px;
    }
    body{
        background-color: rgb(10, 87, 14);
    }
    #firstPost{
        color: white;
        text-align: center;
    }
    .list-group{
        width: 50%;
    }
    #animated{
    background-color: yellow;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 30px;

}

/* #animated:hover {
    transform: rotate(360deg);
    transition: transform 2s;
} */
#animated:hover {
    transform: 
    translate(400px) ;
    /* rotate(45deg); */
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

    </style>
</head>
<body>
    <div class="container">
<h1 id="title" class="jumbotron">Beer Page</h1>
<input type="button" class="btn btn-lg btn-success" onclick="location.href='/';" value="Brew Map" />
<div id="firstPost">
<h1>First Super Cool beer Blog Post</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quasi, magnam odit ipsum ratione excepturi eaque exercitationem soluta veritatis voluptate ea sit, molestiae a tempora nihil architecto sint voluptates quibusdam!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque suscipit facilis libero illo quod tempore, neque reprehenderit ratione, dolor, dignissimos vel accusantium quasi nostrum ea! Mollitia facere eveniet recusandae incidunt!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat necessitatibus iste eaque omnis recusandae quis dolorum. Sit minus nemo quos omnis quibusdam placeat voluptatem repellendus optio non. Sed, aliquam!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis ad fugiat, in natus soluta illo voluptatum quos. Repudiandae maiores repellat molestiae, harum nisi praesentium assumenda dicta quam pariatur perferendis voluptates!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor ea repellendus est explicabo fuga deserunt molestiae, sed impedit rerum reiciendis! Odio veniam rem omnis incidunt fuga nobis molestiae veritatis tempora.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellat in corrupti nihil exercitationem dolorum alias, ratione harum mollitia doloremque suscipit perferendis possimus deserunt natus veniam nobis quaerat, aspernatur consequuntur.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae molestiae ratione dolore a porro, sunt modi? Vitae debitis assumenda itaque unde aliquid, expedita voluptas aut reiciendis, earum consequuntur quibusdam reprehenderit.
    lorem
</p>
</div>

<hr>
<!-- <ul class="list-group">
    <li href="#" class="list-group-item list-group-item-action">Beer One</li>
    <li href="#" class="list-group-item list-group-item-action">Beer Two</li>
    <li href="#" class="list-group-item list-group-item-action">Beer Three</li>
    <li href="#" class="list-group-item list-group-item-action">Beer Four</li>
    <li href="#" class="list-group-item list-group-item-action">Beer Five</li>
    <li href="#" class="list-group-item list-group-item-action">Beer Six</li>

</ul> -->
<div class="list-group">
     
        <a href="#" class="list-group-item list-group-item-action">Beer One</a>
        <a href="#" class="list-group-item list-group-item-action">Beer Two</a>
        <a href="#" class="list-group-item list-group-item-action">Beer Three</a>
        <a href="#" class="list-group-item list-group-item-action">Beer Four</a>
        <a href="#" class="list-group-item list-group-item-action">Beer Five</a>
        <a href="#" class="list-group-item list-group-item-action">Beer Six</a>

      </div>
    </div>
    <br>
    <br>
    <!-- <div id="animated">
        <h1>Animate</h1>
        </div> -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</body>
</html>


