<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Level Brewing</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#title{
        background-color: rgb(8, 99, 99);
        text-align: center;
        border-radius: 15px;
        font-weight: bold;
        font-size: 60px;
    }
    body{
        background-color: rgb(10, 87, 14);
    }
</style>
</head>
<body>
    <div class="container">

        <h1 id="title" class="jumbotron">New Level Brewing</h1>
        <input type="button" class="btn btn-lg btn-success" onclick="location.href='/';" value="Brew Map" />

    </div>
</body>
</html>>